
h2.title2{
    font-weight: 100;
    letter-spacing: 2px;
}

p.hello{
  margin-bottom: 2px;  
}
.p-work{
text-align: center;
}

span.title{
    color:rgb(209,93,0);
}

img.work-images{
  object-fit: scale-down;
  height: 380px;
  width: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container-work:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.h2-contact{
  text-align: center;
	padding-bottom: 0.9rem;
	margin: 0 0 2rem 0;
  font-size: 1.5rem;
	line-height: 1.4;
	letter-spacing: 0.5rem; 
 
}


.title-work {
  position: absolute;
  width: 700px;
  left: auto;
  top: 180px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.container-work:hover .title-work {
  top: 100px;
}

.button-work {
  position: absolute;
  width: 700px;
  left:auto;
  top: 160px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button-work a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container-work:hover .button-work {
  opacity: 1;
}


@media screen and (max-width: 2180px) {
  .title-work {
    position: absolute;
    width: 750px;
    align-items: center;
    top: 180px;
    font-weight: 700px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }

  .container-work:hover .title-work {
    top: 110px;
  }

  .button-work {
    position: absolute;
    width: 750px;
    left:center;
    top: 160px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button-work a {
    width: 200px;
    padding: 5px 5px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  
}


@media screen and (max-width: 1960px) {
  .title-work {
    position: absolute;
    width: 750px;
    align-items: center;
    top: 190px;
    font-weight: 700px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }

  .container-work:hover .title-work {
    top: 60px;
  }

  .button-work {
    position: absolute;
    width: 750px;
    left:center;
    top: 100px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button-work a {
    width: 200px;
    padding: 5px 5px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  
}

@media screen and (max-width: 1681px) {
  .title-work {
    position: absolute;
    width: 750px;
    align-items: center;
    top: 30px;
    font-weight: 700px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }

  .container-work:hover .title-work {
    top: 60px;
  }

  .button-work {
    position: absolute;
    width: 750px;
    left:center;
    top: 100px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button-work a {
    width: 200px;
    padding: 5px 5px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  
}

@media screen and (max-width: 1680px) {
  .title-work {
    position: absolute;
    width: 550px;
    align-items: center;
    top: 140px;
    font-weight: 700px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }

  .container-work:hover .title-work {
    top: 60px;
  }

  .button-work {
    position: absolute;
    width: 550px;
    left:center;
    top: 100px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button-work a {
    width: 200px;
    padding: 5px 5px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  
}



@media screen and (max-width: 1024px) {
  .title-work {
    position: absolute;
    width: 550px;
    align-items: center;
    top: 110px;
    font-weight: 700px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }

  .container-work:hover .title-work {
    top: 40px;
  }

  .button-work {
    position: absolute;
    width: 550px;
    left:center;
    top: 90px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button-work a {
    width: 200px;
    padding: 5px 5px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  
}


@media screen and (max-width: 769px) {
  .title-work {
    position: absolute;
    width: 320px;
    align-items: center;
    top: 50px;
    font-weight: 700px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }

  .container-work:hover .title-work {
    top: 10px;
  }

  .button-work {
    position: absolute;
    width: 320px;
    left:center;
    top: 50px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button-work a {
    width: 200px;
    padding: 5px 5px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  
}



@media screen and (max-width: 320px) {
  .title-work {
    position: absolute;
    width: 260px;
    align-items: center;
    top: 50px;
    font-weight: 700px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }

  .container-work:hover .title-work {
    top: 10px;
  }

  .button-work {
    position: absolute;
    width: 260px;
    left:center;
    top: 50px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button-work a {
    width: 200px;
    padding: 5px 5px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  
}

@media screen and (max-width: 321px) {
  .title-work {
    position: absolute;
    width: 250px;
    align-items: center;
    top: 50px;
    font-weight: 700px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }

  .container-work:hover .title-work {
    top: 10px;
  }

  .button-work {
    position: absolute;
    width: 250px;
    left:center;
    top: 50px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button-work a {
    width: 200px;
    padding: 5px 5px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  
}


